body {
    border: 1px solid black;
    margin: 2em;
    
}

@media print {
    body {
        margin: 5em;
        background: url(taikala_logo.png);
        background-repeat: no-repeat;
    }

    #header {
        position: absolute;
        top: 0;
        left: 0;
        background: url(taikala_logo.png);
    }

}


